# Ignore decoder.py and fileinfo.py (if installed locally)
decoder.py
fileinfo.py

# Ignore install log file + build_dir
build_dir
install.log

# Ignore all compiled python files
*.pyc

# Ignore Other Dev Files
sftp-config.json

# Ignore Dolphin View settings files
.directory

# Ignore all LED configs except default
Led[0-9].cfg
