 
h1 {
    font-size: 30px;
    color: blue;
}

h2 {
    font-size: 20px;
}

h3 {
    font-size: 14px;
}

input[type="submit"] {
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
}

#on,#off,#next,#start {
    width: 300px;
    height: 90px;
    font-size: 30px;
}

#volUp,#volDown {
    width: 120px;
    height: 60px;
    font-size: 20px;
}

#voldiv {
    font-size: 24px;
}

#playlist {
    width: 300px;
    height: 60px;
    font-size: 20px;
}

#playitem {
    width: 300px;
    height: 50px;
    font-size: 30px;
}

#playnext {
    width: 300px;
    height: 50px;
    font-size: 30px;
    background-color: red;
}

#on {
    color:white;
    background-color: green;
}

#on:hover { 
    color:black;
    background-color: #7FFF00;
}

#off {
    color:white;
    background-color: red;
}
#off:hover { 
    color:black;
    background-color: #DB7093;
}

#start {
    color:white;
    background-color: blue;
}
#start:hover { 
    color:black;
    background-color: #87CEEB;
}

#next {
    color:black;
    background-color: yellow;
}

#next:hover { 
    color:black;
    background-color: #FFFFE0;
}

